$container-width: 1290px;
$bg-color: #fff;
$text-color: #101010;
$accent-color: #FF574D;
$accent-color_hover: #D34137;
$accent-color_secondary: #2B8E53;
$accent-color_secondary_hover: #2B8E53;
$font-size: 16px;
$font-family: 'Inter', sans-serif;