.filial-block {
  &__title {
    text-align: center;
    margin-bottom: 70px;
  }

  &__addresses {
    display: flex;
    flex-flow: column;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 70px 80px;

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }

    &-title {
      flex-basis: 220px;
      height: inherit;
      background-color: #fff;
      color: #000;
      text-align: center;
      cursor: pointer;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #fff;
      }

      &.tab_active {
        background-color: $accent-color_secondary;
        color: #fff;
      }
    }

    &-lists {
      > ul {
        display: none;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 20px;
        font-weight: 700;
        line-height: calc(26/20);
        text-align: center;

        &.active {
          display: flex;
        }
      }
    }
  }

  &__address {
    margin: 0 18px 10px;
    &-icon {
      font-size: 34px;
      color: $accent-color;
      margin-bottom: 6px;
    }
  }

  @media (max-width: 767px) {
    &__title {
      margin-bottom: 50px;
    }

    &__addresses {
      padding: 40px 50px;
    }
  }

  @media (max-width: 600px) {
    &__title {
      margin-bottom: 35px;
    }
    
    &__content {
      padding-right: 0;
      padding-left: 0;
    }

    &__addresses {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      
      &-lists {
        > ul {
          flex-flow: column;

          > li {
            margin-bottom: 20px;
          }
        }
      }

      &-header {
        align-items: stretch;
        vertical-align: middle;
      }

      &-title {
        flex-basis: 50%;
        border-radius: 0;
        margin-right: 0;
      }
    }
  }
}