.header {
  box-shadow: 5px 10px 30px 0px #0000001A;

  &__info-row {
    background-color: #F1F1F1;
    padding: 35px 0;

    > a {
      display: block;
    }

    .icon {
      color: $accent-color;
      margin-right: 15px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__email {
    font-weight: 700;
    line-height: calc(19.36/16);

    &:hover {
      text-decoration: underline;
    }
  }


  @media (max-width: 992px) {
    &__info {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      > * {
        margin: 10px 20px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 600px) {
    &__info {
      > *, >*:first-child, >*:last-child {
        margin: 10px 20px;
      }
    }
  }
}