.main-block {
  padding-top: 90px;
  padding-bottom: 0;
  overflow: hidden;
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    flex-basis: 520px;
    margin: 50px 0;
    > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__pic {
    position: relative;
    padding: 90px 0 20px;

    img {
      position: relative;
      z-index: 10;
      display: block;
      max-width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      left: 80px;
      right: -100vw;
      top: 0;
      bottom: 0;
      background-color: $accent-color_secondary;
      border-radius: 10px 0px 0px 0px;
    }
  }

  @media (max-width: 1200px) {
    padding-top: 50px;

    &__content {
      flex-flow: column;
      align-items: center;
    }
    &__text {
      flex-basis: auto;
    }
  }

  @media (max-width: 992px) {
    &__text {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    padding-top: 30px;

    &__text {
      width: 550px;
    }

    &__pic {
      width: 550px;
    }
  }

  @media (max-width: 600px) {
    &__text {
      width: 310px;
    }

    &__pic {
      width: 310px;
    }
  }
}