extends layout/app

block vars 
  - let pageTitle = 'Home'

block page 
  include chunk/header

  main.page
    .main-block.block
      .main-block__content._container
        .main-block__text
          h1.main-block__title.title Автошкола <br> в Санкт-петербурге
          p.main-block__subtitle.text-content Проходите обучение как вам удобно — в группе выходного дня, по вечерам или онлайн
          a.main-block__btn.btn.popup-trigger(href="#" open="contact-popup") Записаться
        .main-block__pic
          img(src="./img/bmw-3.png", alt="BMW-3")
      
      .main-block__ticker.ticker
        .ticker__labels
          span.ticker__label Специальные предложения и акции

    .filial-block.block
      .filial-block__content._container
        .filial-block__text
          h2.filial-block__title.title Наши филиалы
        
        .filial-block__addresses
          .filial-block__addresses-header
            h3.filial-block__addresses-title.btn.btn_secondary.tab.tab_active(openBlock="addresses-list_classes") Учебные классы
            h3.filial-block__addresses-title.btn.btn_secondary.tab(openBlock="addresses-list_autodrom") Автодром

          .filial-block__addresses-lists
            ul.active#addresses-list_classes
              li.filial-block__address
                .filial-block__address-icon
                  <i class="fa-solid fa-location-dot"></i>
                .filial-block__address-text Пр.Первый, 31-1
              li.filial-block__address
                .filial-block__address-icon
                  <i class="fa-solid fa-location-dot"></i>
                .filial-block__address-text Ул.Вторая, 5-1
              li.filial-block__address
                .filial-block__address-icon
                  <i class="fa-solid fa-location-dot"></i>
                .filial-block__address-text Пр.Третий, 11-1
              li.filial-block__address
                .filial-block__address-icon
                  <i class="fa-solid fa-location-dot"></i>
                .filial-block__address-text Ул.Четвертая, 22-1

            ul#addresses-list_autodrom
              li.filial-block__address
                .filial-block__address-icon
                  <i class="fa-solid fa-location-dot"></i>
                .filial-block__address-text Ул.Третья, д.119
              li.filial-block__address
                .filial-block__address-icon
                  <i class="fa-solid fa-location-dot"></i>
                .filial-block__address-text Ул.Четвертая, д.14

    .instructors-block.block
      .instructors-block__slider.slider
        .instructors-block__slider-text
          .instructors-block__slider-text-header
            h2.instructors-block__title.title Наши инструкторы
            .instructors-block__item-info
              h3.instructors-block__item-title Любимов Игорь Юрьевич
              .instructors-block__item-subtitle
                .instructors-block__item-exp-driving Стаж вождения 
                  span с 1996 г.
                .instructors-block__item-exp-instructor Инструктор 
                  span с 2002 г.
          p.instructors-block__subtitle.text-content Каждый инструктор имеет свидетельство, предоставляющее право на обучение вождению автотранспортными средствами. Все инструкторы проходят повышение квалификации по программе «Преподаватель автомобильной школы по обучению практике управления автотранспортным средством»

        .instructors-block__slider-items
          .instructors-block__item-active-container.slider__item-active-container
            img._center(src="./img/instructor-1.jpg", alt="Любимов")
          .instructors-block__slider-body
            .instructors-block__items_not-active
              .instructors-block__item.slider__item.active
                img._center(src="./img/instructor-1.jpg", alt="Любимов")
              .instructors-block__item.slider__item
                img._center(src="./img/instructor-2.jpg", alt="2")
              .instructors-block__item.slider__item
                img._center(src="./img/instructor-3.jpg", alt="3")
              .instructors-block__item.slider__item
                img._center(src="./img/instructor-4.jpg", alt="4")
            .instructors-block__slider-control-panel
              .instructors-block__slider-item-num 
                span.cur 1
                span.max 4
              .instructors-block__slider-btns.slider__btns
                .instructors-block__slider-btn-prev.slider__btn-prev
                .instructors-block__slider-btn-next.slider__btn-next
          
        p.instructors-block__subtitle.text-content.mobile Каждый инструктор имеет свидетельство, предоставляющее право на обучение вождению автотранспортными средствами. Все инструкторы проходят повышение квалификации по программе «Преподаватель автомобильной школы по обучению практике управления автотранспортным средством»

    .faq-block.block
      .faq-block__content._container
        .faq-block__title-block.title-block
          h2.faq-block__title.title-block__title.title Часто <br> задаваемые <br> вопросы
          .faq-block__pic.title-block__pic
            img(src="./img/volkswagen-jetta.png", alt="Volkswagen Jetta")

        .faq-block__slider.slider
          - for (let i = 0; i < faq.length / 5; i++)
            ul.faq-block__question-list.slider__item
              - for (let j = i*5; j < 5 + 5*i; j++)
                - const item = faq[j];
                - if (!item) break;
                li.unfold
                  .faq-block__question.unfold__btn
                    span= item.q
                    <i class="fa-solid fa-angle-down angle-down-icon"></i>
                    <i class="fa-solid fa-xmark xmark-icon"></i>
                  .faq-block__answer.text-content.unfold__content= item.a

          .faq-block__slider-btns.slider__btns
            .faq-block__slider-btn-prev.slider__btn-prev
            .faq-block__slider-btn-next.slider__btn-next

    .map-block.block
      .map-block__content._container
        h2.map-block__title.title Как нас найти

        .map-block__maps
          .map-block__select.select-tab
            select
              option(value="Калининский") Калининский район
              option(value="Невский")  Невский район
              option(value="Выборгский")  Выборгский район
              option(value="Приморский")  Приморский район
          .map-block__map.map.select-item.active(val="Калининский")
            .map__content
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acbddee728fec59bbc8a6366cd5bf1dfc002d14419365756f24d66ca779fb9b22&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            .map__info
              h3.map__title Учебные классы
              ul.map__items
                li
                  .map__address Пр.Культуры, д.31, к.1
                  .map__schedule С 12:30 до 19:00 по будням
                  .map__entrance-btn.popup-trigger(open="entrance-popup") План входа
                li
                  .map__address Ул.Ушинского, д.5, к.1
                  .map__schedule С 12:30 до 19:00 по будням
                  .map__entrance-btn.popup-trigger(open="entrance-popup") План входа

          .map-block__map.select-item.map(val="Невский")
            .map__content
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0b54d61c30dd0dbff735c9313b562a7706bc07d3c0b2d5d097d7ed010d5871ed&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            .map__info
              h3.map__title Учебные классы
              ul.map__items
                li
                  .map__address 2
                  .map__schedule С 12:30 до 19:00 по будням
                  .map__entrance-btn.popup-trigger(open="entrance-popup") План входа

          .map-block__map.select-item.map(val="Выборгский")
            .map__content
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac63c5db3772275b7bc57bc49974c5972717afc75dcdc470ec9db66e4c8316380&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            .map__info
              h3.map__title Учебные классы
              ul.map__items
                li
                  .map__address 3
                  .map__schedule С 12:30 до 19:00 по будням
                  .map__entrance-btn.popup-trigger(open="entrance-popup") План входа
          .map-block__map.select-item.map(val="Приморский")
            .map__content
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5da6247308e14b4e3c60a2f6afe0f3914689cd84cc457592327e93da17bc3602&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            .map__info
              h3.map__title Учебные классы
              ul.map__items
                li
                  .map__address 4
                  .map__schedule С 12:30 до 19:00 по будням
                  .map__entrance-btn.popup-trigger(open="entrance-popup") План входа

    .contact-us-block.block
      .contact-us-block__content._container
        .contact-us-block__title-block.title-block
            h2.contact-us-block__title.title-block__title.title Свяжитесь с нами!
            .contact-us-block__pic.title-block__pic
              img(src="./img/kia-sportage.png", alt="KIA Sportage")

        form.contact-us-block__form.contact-form
          h3.contact-form__title.title_small Оставьте свои контактные данные
          .contact-form__content
            .contact-form__field
              input(type="text" name="name" placeholder="Имя")
            .contact-form__field
              input(type="text" name="phone_number" placeholder="Телефон")
            .contact-form__field.checkbox
              label
                input(type="checkbox" name="isAgree")
                span Я согласен с 
                  a(href="#") политикой конфиденциальности
            .contact-form__field.submit-btn
              .btn Отправить заявку
        
        .contact-us-block__form.contact-form.success
          .contact-form__icon
            <i class="fa-solid fa-circle-check"></i>
          h3.contact-form__title.title_small Ваша заявка отправлена!
          p.contact-form__text.text-content Специалисты свяжутся с вами в ближайшее время и помогут в оформлении записи
    
    .popups
      .entrance-popup.popup.slider#entrance-popup
        .popup__bg
        .popup__close-btn
          <i class="fa-solid fa-xmark"></i> 
        .entrance-popup__content.popup__content
          ul.entrance-popup__pics
            li.slider__item
              img._center(src="./img/entrance-1.jpg", alt="Вход")
            li.slider__item
              img._center(src="./img/entrance-2.jpg", alt="Вход")

          .slider__btns
            .slider__btn-prev
            .slider__btn-next

      .contact-popup.popup#contact-popup
        .popup__bg
        .popup__close-btn
          <i class="fa-solid fa-xmark"></i> 
        form.contact-form.popup__content
          h3.contact-form__title.title_small Оставьте свои контактные данные
          .contact-form__content
            .contact-form__field
              input(type="text" name="name" placeholder="Имя")
            .contact-form__field
              input(type="text" name="phone_number" placeholder="Телефон")
            .contact-form__field.checkbox
              label
                input(type="checkbox" name="isAgree")
                span Я согласен с 
                  a(href="#") политикой конфиденциальности
            .contact-form__field.submit-btn
              .btn Отправить заявку

        .contact-form.success.popup__content
          .contact-form__icon
            <i class="fa-solid fa-circle-check"></i>
          h3.contact-form__title.title_small Ваша заявка отправлена!
          p.contact-form__text.text-content Специалисты свяжутся с вами в ближайшее время и помогут в оформлении записи

  include chunk/footer