footer.footer.block
  .footer__content._container
    .footer__nav-row.footer__row
      a.footer__logo.logo(href="./index.html")
      ul.footer__nav.nav
        li
          a.footer__nav-link.nav__link(href="#") Категории
        li
          a.footer__nav-link.nav__link(href="#") Филиалы
        li
          a.footer__nav-link.nav__link(href="#") Преподаватели
        li
          a.footer__nav-link.nav__link(href="#") Инструкторы
        li
          a.footer__nav-link.nav__link(href="#") Наш автопарк
        li
          a.footer__nav-link.nav__link(href="#") Наш автодром
        li
          a.footer__nav-link.nav__link(href="#") Отзывы
        li
          a.footer__nav-link.nav__link(href="#") Контакты

    .footer__info-row.footer__row
      .footer__copyright © 2022 Все права защищены
      .footer__phone-number.phone-number
        <i class="fa-solid fa-phone"></i>
        span (999) 999–99–99
        span (111) 111–11–11
      .footer__email info@asp.ru
      ul.footer__social-media.social-media
        li
          a.footer__social-media-link.social-media__link(href='#') <i class="fa-brands fa-instagram-square"></i>
        li
          a.footer__social-media-link.social-media__link(href='#') <i class="fa-brands fa-vk"></i>
        li
          a.footer__social-media-link.social-media__link(href='#') <i class="fa-brands fa-facebook-square"></i>