header.header
  .header__info-row
    .header__info._container
      a.header__logo.logo(href="./index.html")
      select.header__address 
        option(hidden) Выберите адрес
        option Ул. Первая, 5-1
        option Ул. Вторая, 22-1
        option Ул. Третья, 119
        option Ул. Четвертая, 14
        option Пр. Пятый, 11-1
      a.header__email(href="#") 
        <i class="fa-solid fa-envelope icon"></i>
        span info@asp.ru
      .header__phone-number.phone-number
        <i class="fa-solid fa-phone icon"></i>
        span (999) 999–99–99
        span (111) 111–11–11
      a.header__btn.btn(href="#") Заказать звонок

  .header__nav-row
    ul.header__nav.nav._container
      li
        a.header__nav-link.nav__link(href="#") Категории
      li
        a.header__nav-link.nav__link(href="#") Филиалы
      li
        a.header__nav-link.nav__link(href="#") Преподаватели
      li
        a.header__nav-link.nav__link(href="#") Инструкторы
      li
        a.header__nav-link.nav__link(href="#") Наш автопарк
      li
        a.header__nav-link.nav__link(href="#") Наш автодром
      li
        a.header__nav-link.nav__link(href="#") Отзывы
      li
        a.header__nav-link.nav__link(href="#") Контакты

  
